<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-9">
            <div class="row form-group">
                <label for="client-name">Name</label>
                <div>
                    <blockquote class="blockquote">
                        <p class="mb-0">Mudit Mohan Kaushik</p>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row form-group">
                <div class="col-12">
                    <img [src]="image" class="rounded" width="180" height="180" />
                </div>
            </div>
        </div>
    </div>
</div>