<div class="container mt-4">
    <div class="row">
        <div class="col-8">
            <form class="">
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="">First Name</label>
                        <input type="text" class="form-control" name="" id="firstName" placeholder=""/>
                    </div>
                    <div class="col-md-4">
                        <label for="">Middle Name</label>
                        <input type="text" class="form-control" name="" id="middleName" placeholder=""/>
                    </div>
                    <div class="col-md-4">
                        <label for="">Last Name</label>
                        <input type="text" class="form-control" name="" id="lastName" placeholder=""/>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="">Address</label>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="" id="" placeholder="Address 1">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="" id="" placeholder="Address 2">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="" id="" placeholder="State">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="" id="" placeholder="District">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="" id="" placeholder="City">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="" id="" placeholder="Pincode">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="">Client</label>
                        <div class="w-100"></div>
                        <label class="custom-control custom-radio">
                            <input id="privateradio" name="radio" type="radio" class="custom-control-input" checked/>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Is Private</span>
                        </label>
                        <label class="custom-control custom-radio">
                            <input id="publicradio" name="radio" type="radio" class="custom-control-input"/>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Is Public</span>
                        </label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-5">
                        <label for="">Purpose</label>
                        <select class="form-control">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-4">
            <div class="row form-group">
                <div class="col-6 justify-content-end">
                    <img alt="" [src]="image" class="rounded" width="200" height="200"/>
                    <input type="file" name="" id="clientImg"/>
                </div>
            </div>
        </div>
    </div>
</div>